<ion-header class="ion-no-border" *ngIf="showLogo">
  <ion-toolbar color="none">
    <img src="/assets/logo-sample.gif" width="200vw" height="50vh">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="card-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Forgot Password</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
          <div class="ion-padding-top">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item color="warning">
                    <ion-label>Reset code was sent to {{ email }}, check your inbox or spam folder for the
                      coorespondence</ion-label>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label position="floating"><ion-icon name="code" slot="start"></ion-icon> Reset Code </ion-label>
                    <ion-input #a (keyup.enter)="setFocus(b)" enterkeyhint="next" required inputmode="numeric" type="text" formControlName="verifyCode"></ion-input>                    
                    <app-error [key]="appConstants.validation_messages.verifyCode" [form]="form.get('verifyCode')"></app-error>
                  </ion-item>                  
                  <ion-item lines="full">
                    <ion-label position="floating"><ion-icon name="key" slot="start"></ion-icon> New Password</ion-label>
                    <ion-input #b (keyup.enter)="setFocus(c)" enterkeyhint="next" required type="password" formControlName="password"></ion-input>                    
                    <mat-hint>{{ appConstants.password_policy }}</mat-hint>
                    <app-error [key]="appConstants.validation_messages.password" [form]="form.get('password')"></app-error>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label position="floating"><ion-icon name="key" slot="start"></ion-icon> Confirm Password</ion-label>
                    <ion-input #c (keyup.enter)="setFocus(d)" enterkeyhint="next" required type="password" formControlName="confirmPassword"></ion-input>
                    <app-error [key]="appConstants.validation_messages.confirmPassword" [form]="form.get('confirmPassword')"></app-error>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button #d mat-flat-button color="primary" type="submit" [disabled]="!form.valid || loading" class="full-width">
                  <div *ngIf="!loading">Reset</div>
                  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </form>
        <ion-row>
          <ion-col>
            <a mat-button [routerLink]="['/login']">Return to login</a>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>