<ion-header class="ion-no-border" *ngIf="showLogo">
  <ion-toolbar color="none">
    <img src="/assets/logo-sample.gif" width="200vw" height="50vh">
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="card-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Confirm User Signup</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
          <div class="ion-padding-top">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item color="warning">
                    <ion-label>
                      Enter the code that was sent to, {{ email }}, in order to complete the signup process
                    </ion-label>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label position="floating"><ion-icon name="code" slot="start"></ion-icon> Verification Code </ion-label>
                    <ion-input #a (keyup.enter)="setFocus(b)" enterkeyhint="next" required type="text" formControlName="verifyCode"></ion-input>                    
                    <app-error [key]="appConstants.validation_messages.verifyCode" [form]="form.get('verifyCode')"></app-error>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button #b mat-flat-button color="primary" type="submit" [disabled]="!form.valid || loading">
                  <div *ngIf="!loading">Confirm</div>
                  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
                </button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button mat-stroked-button (click)="resend()" disabled="{{loading}}">
                  <div *ngIf="!loading">Resend Code?</div>
                  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
                </button>
              </ion-col>
            </ion-row>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>