<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Security Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <div class="ion-padding-top">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item lines="full">
              <ion-label position="floating">Current Password </ion-label>
              <ion-input required type="password" formControlName="currentPassword"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of appConstants.validation_messages.currentPassword">
                <div class="error-message"
                  *ngIf="form.get('currentPassword').hasError(validation.type) && (form.get('currentPassword').dirty || form.get('currentPassword').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item lines="full">
              <ion-label position="floating">New Password</ion-label>
              <ion-input required type="password" formControlName="password"></ion-input>
              <div>Password policy: uppercase letters, lowercase letters, special characters, numbers</div>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of appConstants.validation_messages.password">
                <div class="error-message"
                  *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item lines="full">
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input required type="password" formControlName="confirmPassword"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of appConstants.validation_messages.confirmPassword">
                <div class="error-message"
                  *ngIf="form.get('confirmPassword').hasError(validation.type) && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" type="submit" [disabled]="!form.valid || loading">
            <div *ngIf="!loading">Change Password</div>
            <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>