<ion-header class="box ion-no-border" style="--r1:130%;--r2:71.5%">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Security Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card-center">
    <ion-card>
      <!-- <ion-card-header>
          <ion-card-title>Log In</ion-card-title>
        </ion-card-header> -->
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
          <div class="ion-padding-top">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item lines="full">
                    <ion-label position="floating"> <ion-icon name="key" slot="start"></ion-icon> Current Password </ion-label>
                    <ion-input required type="password" formControlName="currentPassword"></ion-input>                   
                    <app-error [key]="appConstants.validation_messages.currentPassword" [form]="form.get('currentPassword')"></app-error>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label position="floating"><ion-icon name="key" slot="start"></ion-icon> New Password</ion-label>
                    <ion-input required type="password" formControlName="password"></ion-input>                    
                    <mat-hint>{{ appConstants.password_policy }}</mat-hint>
                    <app-error [key]="appConstants.validation_messages.password" [form]="form.get('password')"></app-error>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label position="floating"> <ion-icon name="key" slot="start"></ion-icon> Confirm Password</ion-label>
                    <ion-input required type="password" formControlName="confirmPassword"></ion-input>
                    <app-error [key]="appConstants.validation_messages.confirmPassword" [form]="form.get('confirmPassword')"></app-error>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="full" type="submit" [disabled]="!form.valid || loading">
                  <div *ngIf="!loading">Change Password</div>
                  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>