<ion-header class="box ion-no-border" style="--r1:130%;--r2:71.5%">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>       
        <img *ngIf="!loadingPic" src="{{ imgPreview }}" (click)="selectImage()">
        <ion-spinner name="dots" *ngIf="loadingPic"></ion-spinner> 
        <a mat-button (click)="selectImage()">
          <ion-icon  *ngIf="!loadingPic" name="camera-outline"></ion-icon>
        </a>
      </ion-avatar>
    </div>
  </ion-grid>

  <!-- <div class="card-center"> -->
  <ion-card>
    <!-- <ion-card-header>
        <ion-card-title>Log In</ion-card-title>
      </ion-card-header> -->
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <ion-item>
          <ion-label>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-text> Email: </ion-text>
            <ion-text disabled="true">{{ cognitoService.email }}</ion-text>
          </ion-label>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">
            <ion-icon name="person" slot="start"></ion-icon> Name
          </ion-label>
          <ion-input #a (keyup.enter)="setFocus(b)" enterkeyhint="next" required type="text" formControlName="name"></ion-input>
          <app-error [key]="appConstants.validation_messages.name" [form]="form.get('name')"></app-error>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button #b enterkeyhint="go" mat-flat-button color="primary" type="submit" [disabled]="!form.valid || loading" class="full-width">
              <div *ngIf="!loading">Update</div>
              <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
  <!-- </div> -->
</ion-content>