<ion-header class="ion-no-border">
  <ion-toolbar color="none">
    <img src="/assets/logo-sample.gif" width="200vw" height="50vh">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card-center">
  <mat-card >
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <div class="ion-padding-top">
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item lines="full">
                  <ion-label position="floating">
                    <ion-icon name="mail" slot="start"></ion-icon> Email
                  </ion-label>
                  <ion-input required type="email" formControlName="email"></ion-input>
                  <app-error [key]="appConstants.validation_messages.email" [form]="form.get('email')"></app-error>
                </ion-item>                
                <ion-item lines="full">
                  <ion-label position="floating">
                    <ion-icon name="key" slot="start"></ion-icon> Password
                  </ion-label>
                  <ion-input required type="password" formControlName="password"></ion-input>
                  <app-error [key]="appConstants.validation_messages.password" [form]="form.get('password')"></app-error>
                </ion-item>
                <!-- <div class="validation-errors">
                  <ng-container *ngFor="let validation of appConstants.validation_messages.password">
                    <div class="error-message"
                      *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                      <ion-item lines="none" color="danger">
                        {{ validation.message }}
                      </ion-item>
                    </div>
                  </ng-container>
                </div> -->
              </ion-list>
            </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col>
            <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid || loading">
              <div *ngIf="!loading">Login</div>
              <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
            </button>
          </ion-col>
        </ion-row>
      </form>
      <ion-row>
        <ion-col>
          <a mat-button [routerLink]="['/signup']">Create Account</a>
        </ion-col>
        <ion-col>
          <a mat-button [routerLink]="['/login-forgot']">Forgot your password?</a>
        </ion-col>
      </ion-row>
    </mat-card-content>
  </mat-card>
</div>
</ion-content>