<ion-header class="ion-no-border" *ngIf="showLogo">
  <ion-toolbar color="none">
    <img src="/assets/logo-sample.gif" width="200vw" height="50vh">
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="card-center">
  <ion-card >
    <ion-card-header>
      <ion-card-title>Log In</ion-card-title>    
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <div class="ion-padding-top">
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item lines="full">
                  <ion-label position="floating">
                    <ion-icon name="mail" slot="start"></ion-icon> Email
                  </ion-label>
                  <ion-input #a (keyup.enter)="setFocus(b)" enterkeyhint="next" inputmode="email" required type="email" formControlName="email"></ion-input>
                  <app-error [key]="appConstants.validation_messages.email" [form]="form.get('email')"></app-error>
                </ion-item>                
                <ion-item lines="full">
                  <ion-label position="floating">
                    <ion-icon name="key" slot="start"></ion-icon> Password
                  </ion-label>
                  <ion-input #b (keyup.enter)="setFocus(c)" enterkeyhint="next" required type="password" formControlName="password"></ion-input>
                  <app-error [key]="appConstants.validation_messages.password" [form]="form.get('password')"></app-error>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col>
            <ion-button #c enterkeyhint="go" mat-flat-button color="primary" type="submit" [disabled]="!form.valid || loading" class="full-width">
              <div *ngIf="!loading">Log In</div>
              <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
      <ion-row>
        <ion-col>
          <a mat-button [routerLink]="['/signup']">Create Account</a>
        </ion-col>
        <ion-col>
          <a mat-button [routerLink]="['/login-forgot']">Forgot your password?</a>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>