<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <div class="ion-padding-top">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item lines="full">
              <ion-label position="floating">Email </ion-label>
              <ion-input required type="email" formControlName="email"></ion-input>
              <ion-icon name="mail" slot="start"></ion-icon>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of appConstants.validation_messages.email">
                <div class="error-message"
                  *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
                  <ion-item lines="none" color="danger">
                    {{ validation.message }}
                  </ion-item>
                </div>
              </ng-container>
            </div>
            <ion-item lines="full">
              <ion-label position="floating">Password</ion-label>
              <ion-input required type="password" formControlName="password"></ion-input>
              <ion-icon name="key" slot="start"></ion-icon>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of appConstants.validation_messages.password">
                <div class="error-message"
                  *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                  <ion-item lines="none" color="danger">
                    {{ validation.message }}
                  </ion-item>
                </div>
              </ng-container>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" type="submit" [disabled]="!form.valid || loading">
            <div *ngIf="!loading">Login</div>
            <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button mat-stroked-button [routerLink]="['/signup']">Not signed up?</button>
        </ion-col>
        <ion-col>
          <button mat-stroked-button [routerLink]="['/login-forgot']">Forgot your password?</button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>