<ion-app>

  <ion-menu side="start" menuId="first" contentId="content" *ngIf="session == true">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-menu-toggle auto-hide="true">
        <ion-list *ngFor="let pages of navigate">
          <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            {{pages.title}}
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item button (click)="cognitoService.logOut()" href="/">
            <ion-icon name="log-out" slot="start"></ion-icon>
            Sign Out
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-content class="ion-padding">
    <ion-router-outlet Id="content"></ion-router-outlet>  
  </ion-content>

  <ion-footer>
    <ion-accordion-group>
      <ion-accordion value="first" *ngIf="this.log.eoutput.length > 0">
        <ion-item slot="header" color="danger">
          <ion-label>Errors</ion-label>
        </ion-item>
        <div slot="content" *ngFor="let i of this.log.eoutput">
          {{ i }}
        </div>
      </ion-accordion>
      <ion-accordion value="second" *ngIf="this.log.woutput.length > 0">
        <ion-item slot="header" color="warning">
          <ion-label>Warnings</ion-label>
        </ion-item>
        <div slot="content" *ngFor="let i of this.log.woutput">
          {{ i }}
        </div>
      </ion-accordion>
      <ion-accordion value="third" *ngIf="this.log.ioutput.length > 0">
        <ion-item slot="header" color="primary">
          <ion-label>Info</ion-label>
        </ion-item>
        <div slot="content" *ngFor="let i of this.log.ioutput">
          {{ i }}
        </div>
      </ion-accordion>
      <ion-accordion value="fourth" *ngIf="this.log.doutput.length > 0">
        <ion-item slot="header" color="secondary">
          <ion-label>Debug</ion-label>
        </ion-item>
        <div slot="content" *ngFor="let i of this.log.doutput">
          {{ i }}
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-footer>
</ion-app>
