<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()" novalidate >
    <div class="ion-padding-top">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item lines="full">
              <ion-label position="floating">Email </ion-label>
              <ion-input required type="email" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of appConstants.validation_messages.email">
                <div class="error-message"
                  *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" type="submit" [disabled]="!form.valid || loading">
            <div *ngIf="!loading">Continue</div>
            <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>