<ion-header class="ion-no-border" *ngIf="showLogo">
  <ion-toolbar color="none">
    <img src="/assets/logo-sample.gif" width="200vw" height="50vh">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="card-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Forgot Password</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
          <div class="ion-padding-top">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item lines="full">
                    <ion-label position="floating">
                      <ion-icon name="mail" slot="start"></ion-icon> Email
                    </ion-label>
                    <ion-input required type="email" formControlName="email"></ion-input>
                    <app-error [key]="appConstants.validation_messages.email" [form]="form.get('email')"></app-error>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid || loading">
                  <div *ngIf="!loading">Continue</div>
                  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
                </button>
              </ion-col>
            </ion-row>
          </div>
        </form>
        <ion-row>
          <ion-col>
            <a mat-button [routerLink]="['/login']">Return to login</a>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>