/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

mat-hint {
    font-size: 10px;
}

.error-message {
    font-size: 10px;
}

a, button {
    width: 100%;
}

ion-content {
    // --background: url("/assets/dots-background.jpeg");
    --background: url(/assets/dots-background2.png) no-repeat center/cover fixed; 
}

ion-card-title {
    text-align: center;
}

ion-card, ion-item {
    opacity: 0.98;    
    border: 0px;
    box-shadow: none !important;
    // background-color: #222428;
    // padding: 10em;
}

mat-error {
    font-size: 12px;
}

@media all and (min-width:960px) {
    .card-center{
        width: 100%;
        height: 100%; 
        display: flex;
        align-items: center; 
        justify-content: center; 
        // display: table;    
    }

    ion-card {
        padding: 10%;
        // width: 80%;
    }
}

@media all and (min-width:801px) and (max-width: 959px) {
    .card-center{
        width: 100%;
        height: 100%; 
        // display: flex;
        // flex-flow: column nowrap;
        // align-items: stretch;
        // justify-content: center; 
        display: table;
    }
}

@media all and (min-width:769px) and (max-width: 800px) {
    .card-center{
        width: 100%;
        height: 100%; 
        display: table;
    }
}

@media all and (min-width:569px) and (max-width: 768px) {
    .card-center{
        width: 100%;
        height: 100%; 
        display: table;
    }
}

@media all and (min-width:481px) and (max-width: 568px) {
    .card-center{
        width: 100%;
        height: 100%; 
        // display: flex; 
        // align-items: center; 
        // justify-content: center;     
        display: table;
    }
}

@media all and (min-width:321px) and (max-width: 480px) {
    .card-center{
        width: 100%;
        height: 100%; 
        display: flex; 
        align-items: center; 
        justify-content: center;     
    }
}

@media all and (min-width:0px) and (max-width: 320px) {
    .card-center{
        width: 100%;
        height: 100%; 
        display: flex; 
        align-items: center; 
        justify-content: center;     
    }
}

.box {
    height:15%;
    background-color: var(--ion-color-primary);
    -webkit-mask:
      radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top left,
      radial-gradient(var(--r1,100%) var(--r2,50%) at bottom,transparent 79.5%,white 80%) top center,
      radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top right;
    mask:
      radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top left,
      radial-gradient(var(--r1,100%) var(--r2,50%) at bottom,transparent 79.5%,white 80%) top center,
      radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top right;
     /* adjust the 150% to control the covered area, the bigger the value the bigger the area will be*/
    -webkit-mask-size:33.4% 150%;
    -webkit-mask-repeat:no-repeat;
    mask-size:33.4% 150%;
    mask-repeat:no-repeat;
  }



// @media only screen and (max-width: 640px) and (orientation: portrait) {
//     .card-center{
//         // width:80%; // adjust width on your ion-card suitable on your screen
//         // display:block;
//         // margin: 0 auto;
//         width: 100%;
//         height: 100%; 
//         display: flex; 
//         align-items: center; 
//         justify-content: center;     
//     }
//  }

//  @media only screen and (max-width: 640px) and (orientation: landscape) {
//     .card-center{
//         // width:80%; // adjust width on your ion-card suitable on your screen
//         // display:block;
//         // margin: 0 auto;
//         width: 100%;
//         height: 100%; 
//         display: flex; 
//         align-items: center; 
//         justify-content: center;     
//     }
//  }

// @media screen and (max-width: 480px) {

//     .card-center{
//         // width:80%; // adjust width on your ion-card suitable on your screen
//         // display:block;
//         // margin: 0 auto;
//         height: 100%; 
//         display: flex; 
//         align-items: center; 
//         justify-content: center; 
//     }
// }

// @media only screen and (min-device-width: 480px) 
//                    and (max-device-width: 640px) 
//                    and (orientation: landscape) {

//                     .card-center{
//                         // width:80%; // adjust width on your ion-card suitable on your screen
//                         // display:block;
//                         // margin: 0 auto;
//                         width: 100%;
//                         height: 100%; 
//                         display: flex; 
//                         align-items: center; 
//                         // justify-content: center;     
//                     }
// }


// .card-center mat-card {
//     width: 80%;
//     height: 80%;
//   }